<p-panel header="All Games">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin: 10px 0px">
    <p-table [value]="games">
      <ng-template pTemplate="header">
        <tr>
          <th class="col-15">Game Id</th>
          <th class="col-10">Player 1's Score</th>
          <th class="col-10">Player 2's Score</th>
          <th class="col-14">Board Size</th>
          <th class="col-13">Winner</th>
          <th class="col-15">Enabled Variations</th>
          <th class="col-13"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-game>
        <tr>
          <td>{{game.gameId}}</td>
          <td>{{game.firstPlayer.numberOfStonesOnPlayerStone}}</td>
          <td>{{game.secondPlayer.numberOfStonesOnPlayerStone}}</td>
          <td>
            <table>
              <tr>
                <td> Number of Houses of Each Player : {{game.numberOfHousesOfEachPlayer}}</td>
              </tr>
              <tr>
                <td> Number of Stones on Each House : {{game.numberOfStonesOnEachHouse}}</td>
              </tr>
            </table>
          </td>
          <td *ngIf="game.winnerPlayerId == null"> - </td>
          <td *ngIf="game.winnerPlayerId == 0">The game ended in a draw</td>
          <td *ngIf="game.winnerPlayerId == 1">The winner is Player 1</td>
          <td *ngIf="game.winnerPlayerId == 2">The winner is Player 2</td>
          <td>
            <table>
              <tr *ngIf="game.gameVariation.firstMoveOnFirstPlayer">
                <td>* First Move on Player1</td>
              </tr>
              <tr *ngIf="game.gameVariation.flowsCounterClockwise">
                <td>* Game Flows Counterclockwise</td>
              </tr>
              <tr *ngIf="!game.gameVariation.flowsCounterClockwise">
                <td>* Game Flows Clockwise</td>
              </tr>
              <tr *ngIf="game.gameVariation.emptyCaptureEnabled">
                <td>* Empty Capture Rule</td>
              </tr>
              <tr *ngIf="game.gameVariation.remainingStonesInsertionEnabled">
                <td>* Remaining Stones Insertion</td>
              </tr>
            </table>
          </td>
          <td>
            <button *ngIf="game.winnerPlayerId == null" label="Continue to Play" pButton class="ui-button-success" icon="pi pi-play" (click)="continueToPlay(game)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
