<p-panel header="Create New Kalah Game">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Number of Houses of Each Player :
      </div>
      <div class="ui-grid-col-4">
        <p-inputNumber [(ngModel)]="gameRequestBody.numberOfHouses" mode="decimal" [showButtons]="true" [min]="3" [max]="10">
        </p-inputNumber>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Number of Stones of Each House :
      </div>
      <div class="ui-grid-col-6">
        <p-inputNumber [(ngModel)]="gameRequestBody.numberOfStones" mode="decimal" [showButtons]="true" [min]="3" [max]="10">
        </p-inputNumber>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        The First Move on Player 1 :
      </div>
      <div class="ui-grid-col-6">
        <p-inputSwitch [(ngModel)]="gameRequestBody.firstMoveOnFirstPlayer"></p-inputSwitch>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Game Flows Counterclockwise :
      </div>
      <div class="ui-grid-col-6">
        <p-inputSwitch [(ngModel)]="gameRequestBody.flowsCounterClockwise"></p-inputSwitch>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Empty Capture Rule is Enabled :
      </div>
      <div class="ui-grid-col-6">
        <p-inputSwitch [(ngModel)]="gameRequestBody.emptyCaptureEnabled"></p-inputSwitch>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Remaining Stone(s) Insertion is Enabled :
      </div>
      <div class="ui-grid-col-6">
        <p-inputSwitch [(ngModel)]="gameRequestBody.remainingStonesInsertionEnabled"></p-inputSwitch>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4"></div>
      <div class="ui-grid-col-6">
      </div>
      <div>
        <p-button label="Start Game" class="ui-button-success" (click)="createGame()"></p-button>
      </div>
    </div>
  </div>
</p-panel>
