.mid {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.house-button{
  height: 50px;
  width: 75px;
  margin: 2px;
}

.player2-house-button{
  margin-top: 5px;
  background-color: blue;
}

.player1-house-button{
  background-color: red;
  margin-top: 25px;
  margin-bottom: 5px;
}

.store-button{
  height: 150px;
  width: 75px;
  margin: 10px;
}

.left-store-button{
  background-color: blue;
}

.right-store-button{
  background-color: red;
}

.mt-2{
  margin-top: 20px;
}

.mt-4{
  margin-top: 40px;
}

.align-r{
  alignment: right;
}
